# vim swapfiles
*.swp

# Lisp compile
*.fasl

# Emacs Temporary
*.*~
*.*#

# Haskell temporary
.ghci
.stack-work/
.stack/
*/.stack-work/
*.hie
*.cabal

# Juvix temporary
juvix.yaml

# Misc temporary
tmp/

# Idris temporary
*.ibc

# Agda temporary
*.agdai

# LLVM temporary
*.ll
*.s

# Testing temporary
*.parsed
