# vim swapfiles
*.swp

# Lisp compile
*.fasl

# Emacs Temporary
*.*~

# Haskell temporary
.ghci
.stack-work/
juvix.cabal

# Juvix temporary
juvix.yaml

# Misc temporary
tmp/

# Idris temporary
*.ibc
stack.yaml.lock
